/* Style sheet for Churro's flexpage
business webpage*/

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handlee&family=Slackey&family=Rubik+Vinyl&display=swap');

body {
    margin: 0;
    min-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

header,
.one,
.two,
.three,
.footer {
    font-family: 'Handlee', cursive;
    padding: 0 100px;
    align-items: center;
}

.one,
.two,
.three {
    min-height: 200px;
    flex: 2 1 auto;
}

.footer {
    flex: 1 1 auto;
}

header {
    background-color: rgb( 45, 45, 20);
    color: rgb(255, 255, 255);
    display: flex;
    flex: none;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    flex: 0 1 auto;
}

.headlinks {
    color: rgb(255, 255, 255);
    flex: 0 1 auto;
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

a {
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.one {
    background-color: rgb(50, 50, 35);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.left {
    width: 500px;
    flex: none;
}

.one .left .fatline {
    font-size: 38px;
    font-weight: 900;
}

.left div {
    font-size: 18px;
}

.topbutton {
    margin: 8px 0 0 0;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 134, 233);
    font-family: 'Slackey', cursive;
    font-size: 12px;
    padding: 0 22px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;  
}

.couch {
    width: 550px;
    border: none;
    object-fit: contain;
    margin: 64px;
}

.two {
    background-color: floralwhite;
}

.info {
    text-align: center;
    font-size: 24px;
    padding: 24px;
    font-weight: 700;
}

.thumbnails {
    display: flex;
    gap: 32px;
    justify-content: space-around;
}

.thumbs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 200px; /*max- did not work*/
    height: 200px;
    border: 2px solid rgb(68, 134, 233);
    border-radius: 12px;
    object-fit: contain;
    flex: 0 1 auto; /*Did not work becuase this
    is a child of the thumbnails div and the flex
    is not inherited...*/
}

p {
    font-size: 14px;
    font-weight: 400;
    max-width: 175px;
    text-align: center;
    flex: 1 1 auto; /*did not work*/
}

.three {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 600px;
    font-size: 32px;
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
}

.credit {
    font-weight: 600;
    margin: 4px 0 0 300px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    
}


.container,
.container button {
    background-color: rgb(68, 134, 233);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.container {
    min-width: 500px;
    margin: 32px;
    padding: 32px 48px;
}

.call {
    font-size: 18px;
    font-weight: 700;
}

.small {
    font-size: 16px;
}

.container button {
    font-family: 'Slackey', cursive;
    font-size: 12px;
    padding: 0 22px;
    border: 1px solid rgb(255, 255, 255);
}