/* Style sheet for Churro's flexpage
business webpage*/



body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

header,
.one,
.two,
.three,
.footer {
    padding: 0 100px;
    align-items: center;
}

.one,
.two,
.three {
    flex: 2 1 auto;
}

.two,
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    flex: 1 1 auto;
}

header {
    display: flex;
    flex: none;
    justify-content: space-between;
}

.logo {
    font-size: 16px;
    font-weight: 800;
    flex: 0 1 auto;
}

.headlinks {
    flex: 0 1 auto;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.one {
    background-color: grey;
    display: flex;
    justify-content: center;
    gap: 32px;
}

.left {
    max-width: 400px;
}

.two {
    background-color: floralwhite;
    gap: 24px;
}

.info {
    text-align: center;
}

.thumbnails {
    display: flex;
    gap: 12px;

}

.three {
    background-color: rgb(235, 218, 218);
}

.quote {
    max-width: 600px;
}

.credit {
    margin: 0 0 0 300px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    
}


.container,
.container button {
    background-color: rgb(68, 134, 233);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.container {
    margin: 32px;
    padding: 18px 48px;
}

.container button {
    padding: 0 4px;
    border-radius: 4px;
}