/* Style sheet for Churro's flexpage
business webpage*/



body {
    margin: 0;
    min-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

header,
.one,
.two,
.three,
.footer {
    padding: 0 100px;
    align-items: center;
}

.one,
.two,
.three {
    min-height: 200px;
    flex: 2 1 auto;
}

.two,
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    flex: 1 1 auto;
}

header {
    background-color: rgb( 45, 45, 20);
    color: rgb(255, 255, 255);
    display: flex;
    flex: none;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    flex: 0 1 auto;
}

.headlinks {
    color: rgb(255, 255, 255);
    flex: 0 1 auto;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.one {
    background-color: rgb(50, 50, 35);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.left {
    max-width: 400px;
}

.fatline {
    font-size: 32px;
    font-weight: 900;
}

.topbutton {
    margin: 8px 0 0 0;
    color: rgb(255, 255, 255);
    background-color: rgb(68, 134, 233);
    font-size: 12px;
    padding: 0 22px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
  
}


.couch {
    width: 400px;
    height: 225px;
    border: none;
    object-fit: contain;
}

.two {
    background-color: floralwhite;
    gap: 24px;
}

.info {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.thumbnails {
    display: flex;
    gap: 32px;
    

}

.image {
    max-width: 200px; /*max- did not work*/
    max-height: 200px;
    border: 2px solid rgb(68, 134, 233);
    border-radius: 4px;
    object-fit: contain;
    flex: 0 1 auto; /*Did not work*/
}

p {
    font-size: 12px;
    font-weight: 100;
    max-width: 125px;
    flex: 0 1 auto; /*did not work*/
}

.three {
    background-color: rgb(210, 203, 235);
}

.quote {
    max-width: 600px;
    font-size: 24px;
}

.credit {
    font-weight: 600;
    margin: 4px 0 0 300px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    
}


.container,
.container button {
    background-color: rgb(68, 134, 233);
    color: rgb(255, 255, 255);
    border-radius: 8px;
}

.container {
    min-width: 500px;
    margin: 32px;
    padding: 32px 48px;
}

.call {
    font-size: 18px;
    font-weight: 700;
}

.small {
    font-size: 12px;
}

.container button {
    font-size: 12px;
    padding: 0 22px;
    border: 1px solid rgb(255, 255, 255);
}